# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

lista_anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
pd.Series(data=lista_anomalia)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
indice = [1900,1920,1940,1960,1980,2000,2020]
pd.Series(data=lista_anomalia,index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

pd.Series(data=dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

pd.DataFrame(arr)

             0           1           2
0   115.336766  112.108788  102.534256
1   112.229745   97.295866  115.311185
2   102.947225   90.504326   90.852809
3    92.598995   97.488121   85.883825
4    90.706840   73.304489   96.128752
5    77.499300  106.832406  107.307981
6   102.866191   97.734852  107.184165
7    96.831530  101.187909   99.039514
8   103.903609  109.069445   86.546008
9    72.756183   94.407133  105.281194
10   96.939051  113.193117  115.350773
11   97.487074   99.360559   95.802673
12   90.996519   96.764980   91.096525
13  105.473150   82.283926   96.071903
14   87.037603  111.985012  104.253125
15  102.262087   90.065499  104.700559
16  101.982972  110.447080  117.843810
17   86.787178   98.849374  110.384834
18   93.016372   96.422936   91.117242
19  100.176270   90.040752  110.229919

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
arr = pd.DataFrame(data=arr,columns=['x1','x2','x3'],index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
arr

            x1          x2          x3
1   115.336766  112.108788  102.534256
2   112.229745   97.295866  115.311185
3   102.947225   90.504326   90.852809
4    92.598995   97.488121   85.883825
5    90.706840   73.304489   96.128752
6    77.499300  106.832406  107.307981
7   102.866191   97.734852  107.184165
8    96.831530  101.187909   99.039514
9   103.903609  109.069445   86.546008
10   72.756183   94.407133  105.281194
11   96.939051  113.193117  115.350773
12   97.487074   99.360559   95.802673
13   90.996519   96.764980   91.096525
14  105.473150   82.283926   96.071903
15   87.037603  111.985012  104.253125
16  102.262087   90.065499  104.700559
17  101.982972  110.447080  117.843810
18   86.787178   98.849374  110.384834
19   93.016372   96.422936   91.117242
20  100.176270   90.040752  110.229919

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
arr['media'] = (arr['x1'] + arr['x2'] + arr['x3'])/3
arr

            x1          x2          x3       media
1   115.336766  112.108788  102.534256  109.993270
2   112.229745   97.295866  115.311185  108.278932
3   102.947225   90.504326   90.852809   94.768120
4    92.598995   97.488121   85.883825   91.990314
5    90.706840   73.304489   96.128752   86.713360
6    77.499300  106.832406  107.307981   97.213229
7   102.866191   97.734852  107.184165  102.595069
8    96.831530  101.187909   99.039514   99.019651
9   103.903609  109.069445   86.546008   99.839687
10   72.756183   94.407133  105.281194   90.814837
11   96.939051  113.193117  115.350773  108.494314
12   97.487074   99.360559   95.802673   97.550102
13   90.996519   96.764980   91.096525   92.952674
14  105.473150   82.283926   96.071903   94.609660
15   87.037603  111.985012  104.253125  101.091913
16  102.262087   90.065499  104.700559   99.009382
17  101.982972  110.447080  117.843810  110.091287
18   86.787178   98.849374  110.384834   98.673796
19   93.016372   96.422936   91.117242   93.518850
20  100.176270   90.040752  110.229919  100.148981

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [26]:
arr['log_med'] = np.log(arr['media'])
arr

            x1          x2          x3       media   log_med
1   115.336766  112.108788  102.534256  109.993270  4.700419
2   112.229745   97.295866  115.311185  108.278932  4.684711
3   102.947225   90.504326   90.852809   94.768120  4.551433
4    92.598995   97.488121   85.883825   91.990314  4.521683
5    90.706840   73.304489   96.128752   86.713360  4.462608
6    77.499300  106.832406  107.307981   97.213229  4.576907
7   102.866191   97.734852  107.184165  102.595069  4.630790
8    96.831530  101.187909   99.039514   99.019651  4.595318
9   103.903609  109.069445   86.546008   99.839687  4.603566
10   72.756183   94.407133  105.281194   90.814837  4.508823
11   96.939051  113.193117  115.350773  108.494314  4.686698
12   97.487074   99.360559   95.802673   97.550102  4.580366
13   90.996519   96.764980   91.096525   92.952674  4.532090
14  105.473150   82.283926   96.071903   94.609660  4.549760
15   87.037603  111.985012  104.253125  101.091913  4.616030
16  102.262087   90.065499  104.700559   99.009382  4.595215
17  101.982972  110.447080  117.843810  110.091287  4.701310
18   86.787178   98.849374  110.384834   98.673796  4.591819
19   93.016372   96.422936   91.117242   93.518850  4.538163
20  100.176270   90.040752  110.229919  100.148981  4.606659